<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
<a class="navbar-item"><%= link_to 'Home', root_path %></a>
<a class="navbar-item"><%= link_to 'About', about_path %></a>
<a class="navbar-item"><%= link_to 'Post Its', posts_path %></a>
  </div>
</nav>